
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<!DOCTYPE html>
<html>
<body>

    <h1 style="color:darkblue;">Welcome to Penn State Family Medicine!</h1>
    <p></p>
    <p> <h1 style="color:blue;">About Penn State Family Medicine</h1>
    <p></p>Our history of patient care began more than two centuries ago with the founding of the nation&rsquo;s first hospital, Pennsylvania Hospital, in 1751 and the nation's first medical school at the University of Pennsylvania in 1765. Penn Medicine has pioneered medical frontiers with a staff comprised of innovators who have dedicated their lives to advancing medicine through excellence in education, research and patient care.</h1></p>

    <p>When you choose Penn Medicine, you benefit from more than two centuries of the highest standards in patient care, education and research. The caliber of comfort and individual attention you receive is unmatched by any other hospital in the Mid-Atlantic region.</p>

    <p>Nationally Recognized We are consistently recognized nationally and internationally for excellence in health care. The cornerstone of our reputation is our medical and support staff, who choose to dedicate their careers to serving the needs of our patients and community.</p>

    <p>The Hospitals of the University of Pennsylvania &mdash; Penn Presbyterian are proud to once again be ranked among the top hospitals in the nation and the #1 hospital in Pennsylvania by U.S. News &amp; World Report's Honor Roll of Best Hospitals.</p>

    <p>Providing the Community with Resources We promote innovation and teaching excellence. We advance medical science through research and create the next generation of leaders in medicine. The results of these efforts are passed directly onto you, our patients.</p>

    <p>Visit our Health and Wellness Blog to learn how we're working towards an even more precise and personalized practice of health care.</p>
</body>
</html>