
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>

<p>
    General Information<br />
    Main Telephone: 215-881-7300
</p>

<p>
    Main Office<br />
    Penn State Family Medicine<br />
    1600 Woodland Road<br />
    Abington, PA 19001
</p>

<p>
    Corporate Training Center <br />
    PennStateFamilyMedicine@611<br />
    1475 Old York Road<br />
    Abington, PA 19001
</p>

<p>
    Office 2<br />
    1095 Rydal Road<br />
    Jenkintown, PA 19046
</p>
